
<%- include('../user/item/head.ejs') %>

<body class="bg-white">
    
        <%- include('./item/navbar.ejs') %>
        
        <div class="px-2 my-5">
            <% if(alert.message !='' ) { %>
                <%- include('../user/item/message.ejs') %>
                    <% } %>
        </div>

        <form action="/admin/add-lahan-makam" method="post" enctype="multipart/form-data">
            <div class="h-auto px-10 pt-5 mx-auto my-40 rounded-lg bg-slate-500 w-80">
                <h1 class="mb-5 font-bold text-center ">Tambah Lahan Makam</h1>

                <label for="block" class="font-semibold">Kode Block</label>
                <select name="blockId" id="" class="w-full px-1 py-1 bg-gray-300 rounded">
                    <% for(let i=0; i < block.length; i++){ %>
                        <option value="<%= block[i].id%>"><%= block[i].kode%></option>
                    <% } %>
                </select>

                <h1 class="font-semibold">Nomor</h1>
                <input type="text" name="number" placeholder="73000000000" class="w-full px-1 py-1 bg-gray-300 rounded" required>
            
                <h1 class="font-semibold">Harga</h1>
                <input type="text" name="price" placeholder="agus suryadi" class="w-full px-1 py-1 bg-gray-300 rounded" required>
            
                <h1 class="font-semibold">poto Lahan Makam</h1>
                <input type="file" name="photoGrounds" class="w-full px-1 py-1 bg-gray-300 rounded" placeholder="ucudvdd" required>
            
                <button
                    class="w-20 mx-20 my-5 font-semibold bg-blue-600 rounded-lg h-7 text-cyan-50 hover:bg-blue-700 hover:font-bold"
                    type="submit">Tambah</button>
            </div>
        </form>
        
    <%- include('../user/item/javascript.ejs') %>

    </body>

</html>