<%- include('../user/item/head.ejs') %>

<body>
    <body class="bg-white">

        <%- include('./item/navbar.ejs') %>
        
        <h1 class="my-10 ml-2 text-2xl font-bold">Daftar Pembayaran</h1>

        <% for(let i=0; i < listPayment.length; i++){ %>
        <div class="items-center h-auto px-4 py-6 mx-2 my-8 rounded sm:flex sm:justify-between bg-slate-500">
            <div class="items-center sm:flex sm:justify-between">
                <img src="<%= listPayment[i].Lahan_Makam.gambar%>" alt="Gambar Lahan Makam" class="w-full h-40 mr-10 rounded sm:w-56">
                <div class="mt-4">
                    <h1 class="font-semibold">Blok&nbsp;&nbsp;&nbsp;&nbsp;: <%= listPayment[i].Blok.kode %> <%= listPayment[i].Lahan_Makam.Nomor %> </h1>
                    <h1 class="font-semibold">Status : <%= listPayment[i].status %></h1>
                </div>
            </div>
        </div>
        <% } %>

        <%- include('../user/item/javascript.ejs') %>

    </body>

</html>