<%- include('../user/item/head.ejs') %>
<body>
    <body class="bg-white">
        
        <%- include('./item/navbar.ejs') %>

        <h1 class="ml-4 mt-10 mb-5 text-2xl font-bold ">Pemakaman</h1>
       <div class="flex justify-between mx-2 sm:mr-7">

        <%- include('../user/item/search.ejs') %>

        <button class="bg-blue-600 h rounded w-16 md:w-20 h-8 md:h-10 mt-14 hover:bg-blue-700 hover:font-bold " type="submit">
            <a href="/admin/add-lahan-makam">Tambah</a>
        </button>
       </div>
        <% for(let i=0; i < lahanMakam.length; i++){ %>
        <div class="sm:flex sm:justify-between bg-slate-500 px-4 py-6 h-auto my-8 mx-2 rounded">
            <div class="sm:flex sm:justify-between items-center">
                <img src="<%= lahanMakam[i].gambar %>" alt="" class=" w-full h-52 sm:w-44 sm:h-40 rounded mr-10 ">
                <div class="">
                    <h1 class="font-semibold text-center text-2xl my-5">Blok : <%= lahanMakam[i].Blok.kode %>
                            <%= lahanMakam[i].Nomor %>
                    </h1>
                    <h1 class="font-semibold text-center text-1xl my-5">
                        Status : <%= lahanMakam[i].status %>
                    </h1>
                </div>
            </div>
            <div class="flex justify-between sm:flex-col">
                <% if(lahanMakam[i].status === 'terisi' ) { %>
                    <button class="bg-blue-400 h-10 rounded w-20" type="submit">Perbarui</button>
                    <button class="bg-red-300 h-10 rounded w-20" type="submit">Hapus</button>
                <% } %>
                <% if(lahanMakam[i].status==='kosong' ) { %>
                <button class="bg-blue-600 h-10 rounded w-20 hover:bg-blue-700 hover:font-bold"
                    type="submit"><a href="/admin/update-lahan-makam/<%= lahanMakam[i].id %>">Perbarui</a></button>
                    
                <button class="bg-red-600 h-10 rounded w-20 hover:bg-red-600 hover:font-bold"
                    type="submit"><a href="/admin/delete-lahan-makam/<%= lahanMakam[i].id %>">Hapus</a></button>
                <% } %>
            </div>
        </div>
        <% } %>
    
        <%- include('../user/item/javascript.ejs') %>
    
</body>
</html>