<%- include('./item/head.ejs') %>

<body>
    <body class="bg-white">

        <%- include('./item/navbar.ejs') %>

        <main class="z-auto">
            <h1 class="my-10 ml-2 text-2xl font-bold">Lahan Pemakaman</h1>
        <form action="/list-lahan-makam" method="get">
            <div class="relative w-auto">
                <div class="absolute inset-y-0 flex items-center pointer-events-none left-5">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </div>
                <input type="search" name="search" id="default-search"
                    class="p-2 pl-10 ml-2 text-sm bg-white border border-gray-300 rounded" placeholder="Cari Lahan Pemakaman..."
                    required>
                <button type="submit"
                    class="px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cari</button>
            </div>
        </form>

        <h1 class="mt-4 ml-2">Belum Terisi : <%= totalLahan%></h1>

        <% for(let i=0; i < lahanMakam.length; i++){ %>
        <div class="items-center h-auto px-4 py-6 mx-2 my-8 rounded sm:flex sm:justify-between bg-slate-500">
            <div class="items-center sm:flex sm:justify-between">
                <img src="<%= lahanMakam[i].gambar %>" alt="" class="w-full h-40 mr-10 rounded sm:w-56">
                <h1 class="mt-4 ">Blok : <%= block[i].Blok.kode %> <%= lahanMakam[i].Nomor %></h1>
            </div>
            <h1>Biaya : Rp. <%= lahanMakam[i].harga%></h1>
            <button class="items-center w-20 h-10 mt-2 text-white bg-blue-600 rounded sm:my-14 hover:bg-blue-700 hover:font-bold">
                <a href="/input-corpse-data/<%= lahanMakam[i].id%>/<%= lahanMakam[i].blok_id%>">Pesan</a>
            </button>
        </div>
        <% } %>
        </main>

        <%- include('./item/javascript.ejs') %>
    
</body>
</html>