<%- include('./item/head.ejs') %>

<body>

    <body class="bg-white">
        
        <%- include('./item/navbar.ejs') %>

        <h1 class="mt-10 mb-3 ml-5">Riwayat Pemesanan</h1>

        <% for(let i=0; i < listOderHistory.length; i++){ %>
        <div class="items-center h-auto px-4 py-6 mx-2 my-8 rounded sm:flex sm:justify-between bg-slate-500">
            <div class="items-center sm:flex sm:justify-between">
                <img src="<%= listOderHistory[i].Lahan_Makam.gambar %>" alt="Gambar Lahan Makam" class="w-full h-40 mr-10 rounded  sm:w-56">
                <div class="mt-4">bgmn          12
                    <h1 class="font-semibold">
                        Blok&nbsp;&nbsp;&nbsp; : 
                        <%= listOderHistory[i].Blok.kode %> <%= listOderHistory[i].Lahan_Makam.Nomor %>
                    </h1>
                    <h1 class="font-semibold">Status : <%= listOderHistory[i].status %></h1>
                </div>
            </div>
            <button
                class="items-center w-20 h-10 mt-3 text-white bg-blue-600 rounded hover:bg-blue-700 hover:font-bold">
                <a href="/detail-order/<%= listOderHistory[i].id%>">Detail</a>
            </button>
        </div>
        <% } %>

        <%- include('./item/javascript.ejs') %>

    </body>

</html>