<%- include('./item/head.ejs') %>

<body>
    <body class="bg-white">

        <%- include('./item/navbar.ejs') %>
        
        <h1 class="mt-10 mb-3 ml-5">PEMBAYARAN</h1>
        <input type="text" placeholder="cari..." class="block px-3 py-2 ml-5 text-sm bg-white border rounded-md shadow-sm t-1 border-slate-300 placeholder-slate-400 focus:outline-none focus:border-slate-500 focus:ring-1 focus:ring-slate-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500">

        <% for(let i=0; i < listPayment.length; i++){ %>
        <div class="items-center h-auto px-4 py-6 mx-2 my-8 rounded sm:flex sm:justify-between bg-slate-500">
            <div class="items-center sm:flex sm:justify-between">
                <img src="<%= listPayment[i].Lahan_Makam.gambar%>" alt="Gambar Lahan Makam" class="w-full h-40 mr-10 rounded sm:w-56">
                <div class="mt-4">
                    <h1 class="font-semibold">Blok&nbsp;&nbsp;&nbsp;&nbsp;: <%= listPayment[i].Blok.kode %> <%= listPayment[i].Lahan_Makam.Nomor %> </h1>
                    <h1 class="font-semibold">Status : <%= listPayment[i].status %></h1>
                </div>
            </div>
            <% if(listPayment[i].status ==='Menunggu Validasi') { %>
                <button class="items-center w-20 h-10 mt-3 text-white bg-blue-500 rounded">
                    Menunggu
                </button>
                <% } %>
                <% if(listPayment[i].status ==='Menunggu Pembayaran') { %>
            <button
                class="items-center w-20 h-10 mt-3 text-white bg-blue-600 rounded hover:bg-blue-700 hover:font-bold">
                <a href="/payments-burial-grounds/<%= listPayment[i].id %>">Bayar</a>
            </button>
            <% } %>
           
        </div>
        <% } %>

        <%- include('./item/javascript.ejs') %>

    </body>

</html>